body{background-color:#eee;font-family: Georgia, 'Times New Roman', Times, serif;color: #333333;margin: 0;padding: 0;}
.container{width: 1024px;margin: 0 auto;}
 #main-bio{float: left;width: 70%;}
 #bio-image{float: left;width: 200px;margin: auto;}
 #contact-info{float: left;width: 30%;line-height: 1.5;color: #d21034;}